body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #f7f7f7, #e0e0e0); /* Gradient background */
    margin: 0;
    padding: 0;
    background-image: url('2.jpg'); /* URL to your background image */
    background-size: cover;
    background-repeat: no-repeat;
}

.login-container {
    width: 300px;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: rgba(224, 224, 224, 0.6); 
}

.month-inputs {
    display: flex;
    flex-wrap: wrap;
    /* flex: 0 0 100px; */
}

.month-input {
    width: 100%;
    margin-bottom: 10px;
    text-align: right;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}